@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.849);
}

.content{
    margin-top: 1px;
    margin-left: 50px;
    margin-right: 75%;
    padding: 130px;
    background-color: rgb(0, 0, 0);
    display: grid; 
    grid-area: left 40px;
    
}


h1{
    color: rgb(255, 255, 255);
    font-family:'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    display: flex;
    

    
}

.div1{
    display: flex;
    padding: auto;
    margin-top: 5px;
    text-align: center;
    color: aliceblue;   
    

}

.div2{
    
    display: flex;
    padding: auto;
    margin-top: 50px;
    color: aliceblue;
}